<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Atmospheric Readings </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid mt-5">
			<div class="row">
				<div class="col-md-2 col-sm-12">
					<a type="button" class="btn btn-success text-white btn-block" href="read">
						Capture New Reading
					</a>
				</div>
				<div class="col">
					<div class="breadcrumb-item active text-center">
						<h2>Atmospheric Readings</h2>
						<h6 class="text-success"><b>EMC and Product Safety Compliance</b></h6>
					</div>
				</div>
				<div class="col-md-2 col-sm-12">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4 col-sm-12 text-center">
					<b>Calibration ID: </b>XEMC0 <br>
					<b>Last Cal: </b>02/14/2022 <br>
					<b>Cal Due: </b>02/14/2024
				</div>
				<div class="col-md-4 col-sm-12 text-center">
					<b>IEC 61000-4-2:2008 ENV CONDITIONS:</b><br>
					<b>Bar PRES: </b>860 - 1060 mbar <br>
					<b>HUMID: </b>30-60%
				</div>
				<div class="col-md-4 col-sm-12 text-center">
					<b>S/N: </b>221249665 <br>
					<b>Model:</b>14-650-118, 15557603
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-6"><h4>{{ table_label }}</h4></div>
				{% if date_picker %}
					<div class="col-md-6">
						<span class=float-right>
							<form action="" method="GET" id="form">
								<label for="date_picker"><b><h5>Select Date: </h5></b></label>
								<input type='date' id="date_picker" name="date_picker" onchange="checkAndSubmit()" value="{{ date_picker }}">
							</form>
						</span>
					</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col">
					<table class="table">
					  <thead class="thead-inverse">
						<tr>
						  <th>Date/Time</th>
						  <th>Pressure</th>
						  <th>Humidity</th>
						  <th>Temperature</th>
						</tr>
					  </thead>
					  <tbody>
						{% for reading in readings %}
						  <tr>
							<td>
								{{ reading.read_at }}
							</td>
							<td class="align-middle">
								{{ reading.pressure }} mbar
							</td>
							<td class="align-middle">
								{{ reading.humidity }} %
							</td>
							<td class="align-middle">
								{{ reading.temperature }} °C
							</td>
						  </tr>
						{% endfor %}
					  </tbody>
					</table>
				</div>
			</div>
		</div>
		<script>
			function checkAndSubmit() {
				const datePickerValue = document.getElementById('date_picker').value;
				if (datePickerValue) {
					const form = document.getElementById('form');
					form.submit();
				}
			}
		</script>
	</body>
</html>